<div class="container p-4">
    <div class="row">
        <div class="col-md-16">
          <div class="card ">
            <div class="card-body">
                <form action="/links/add" method="POST">
                <div class="container">
    <div class="row mt-15">
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ClaveMaestra</th>
                        <th>Nombre</th>
                        <th>ClaveCarrera</th>
                        <th>Grupo</th>
                        <th>LunesHora</th>
                        <th>MiercolesHora</th>
                        <th>ViernesHora</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                       <th>SCD1015</th>
                       <th>ISX</th>
                       <th>LENGUAJES Y AUTÓMATAS I</th>
                       <th>B</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>
                   </tr>
                    <tr>
                       <th>SCD1016</th>
                       <th>ISX</th>
                       <th>LENGUAJES Y AUTÓMATAS II</th>
                       <th>B</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>
                   </tr>
                    <tr>
                       <th>SCH1024</th>
                       <th>ISX</th>
                       <th>TALLER DE ADMINISTRACIÓN</th>
                       <th>B</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>
                   </tr>
                   <tr>
                       <th>DAD1404</th>
                       <th>ISX</th>
                       <th>ARQUITECTURA DE APLICACIONES EMPRESARIALES</th>
                       <th>B</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>
                   </tr>
                   <tr>
                       <th>ACD0908</th>
                       <th>ISX</th>
                       <th>DESARROLLO SUSTENTABLE</th>
                       <th>B</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>
                   </tr>
                   <tr>
                       <th>AEF1052</th>
                       <th>ISX</th>
                       <th>PROBABILIDAD Y ESTADÍSTICA</th>
                       <th>B</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>
                       
                   </tr>
                   <tr>
                       <th>SCH1024</th>
                       <th>ISX</th>
                       <th>TALLER DE ADMINISTRACIÓN</th>
                       <th>B</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th>07:00-08:40</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>                      
                   </tr>
                   <tr>
                       <th>ACF0901</th>
                       <th>ISX</th>
                       <th>CÁLCULO DIFERENCIAL</th>
                       <th>B</th>
                       <th>08:45-10:25</th>
                       <th>08:45-10:25</th>
                       <th>08:45-10:25</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>                      
                   </tr>
                   <tr>
                       <th>SCD1018</th>
                       <th>TIX</th>
                       <th>TALLER DE BASE DE DATOS</th>
                       <th>B</th>
                       <th>08:45-10:25</th>
                       <th>08:45-10:25</th>
                       <th>08:45-10:25</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>                      
                   </tr>
                   <tr>
                       <th>DAD1404</th>
                       <th>ISX</th>
                       <th>ARQUITECTURA DE APLICACIONES EMPRESARIALES</th>
                       <th>A</th>
                       <th>08:45-10:25</th>
                       <th>08:45-10:25</th>
                       <th>08:45-10:25</th>
                       <th><a href="/profile>" class="btn btn-info">ALTA</a></th>                      
                   </tr>
                </tbody>
                <div class="col-xs-12">
                <div class="center-block">
               
                </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>